<div class="dropdown d-inline">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-bars"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="{{ path('utilisateur_index') }}"><i class="fas fa-users"></i> Utilisateurs</a></li>
        <li><a class="dropdown-item" href="{{ path('chantier_index') }}"><i class="fas fa-hard-hat"></i> Chantiers</a></li>
        <li><a class="dropdown-item" href="{{ path('pointage_index') }}"><i class="fas fa-calendar-alt"></i> Pointages</a></li>
    </ul>
</div>